﻿@{
    ViewData["Title"] = "Home Page";
}

@model FileDownloadModel

<h2>Upload file</h2>

<form asp-action="DownloadFile" method="post">
    <div class="form-group">
        <label asp-for="FirstName">First name:</label>
        <input asp-for="FirstName" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last name:</label>
        <input asp-for="LastName" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="FileName">File name:</label>
        <input asp-for="FileName" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Send!</button>
</form>
